body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(8, 8, 8, 0.665);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 250px;
  height: 80px;
  font-size: x-large;
  cursor: pointer;
}
.modal {
  /* visibility: hidden; */
}
.btn:hover .modal {
  visibility: visible;

  width: 450px;
  height: 100vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  z-index: 99;
}

@keyframes move {
  0% {
    top: 0;
    left: 0px;
  }
  100% {
    top: 0;
    left: 200px;
  }
}
